# Java
target/
*.class
*.jar
*.war
*.ear

# Maven
.mvn/wrapper/
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.properties

# Frontend
src/main/frontend/node_modules/
src/main/frontend/dist/
src/main/frontend/.vite/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.DS_Store

# Logs
*.log
startup.log
